/*
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.mb18 {
  margin-bottom: 1.8rem; }

.section1 p {
  padding: 10rem 35rem;
  font-size: 2.5rem;
  line-height: 1.5; }
  @media only screen and (max-width: 64em) {
    .section1 p {
      padding: 8rem 25rem;
      font-size: 2rem; } }
  @media only screen and (max-width: 48em) {
    .section1 p {
      padding: 7rem 15rem; } }
  @media only screen and (max-width: 26.5625em) {
    .section1 p {
      padding: 7rem 5rem;
      font-size: 1.7rem;
      text-align: center; } }
  @media only screen and (max-width: 20em) {
    .section1 p {
      padding: 7rem 3rem; } }

.section2 {
  height: 55rem;
  position: relative; }
  .section2__span-top--right {
    clip-path: polygon(100% 0, 100% 20%, 0 0);
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 26.5625em) {
      .section2__span-top--right {
        clip-path: polygon(100% 0, 100% 14%, 0 0); } }
  .section2__span-top--left {
    clip-path: polygon(0 0, 0 20%, 50% 10%);
    background-color: #027486;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 26.5625em) {
      .section2__span-top--left {
        clip-path: polygon(0 0, 0 14%, 50% 7%); } }
  .section2__span-bottom--right {
    clip-path: polygon(100% 80%, 100% 100%, 35% 100%);
    background-color: rgba(0, 33, 64, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 26.5625em) {
      .section2__span-bottom--right {
        clip-path: polygon(100% 86%, 100% 100%, 35% 100%); } }
  .section2__span-bottom--left {
    clip-path: polygon(0 89%, 0 100%, 35% 100%);
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 26.5625em) {
      .section2__span-bottom--left {
        clip-path: polygon(0 92%, 0 100%, 35% 100%); } }
  .section2__slideshow {
    height: 100%; }
    .section2__slideshow-slide {
      height: 100%;
      display: none; }
      .section2__slideshow-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .section2__slideshow-dots {
      position: absolute;
      right: 3%;
      bottom: 7%; }
      @media only screen and (max-width: 26.5625em) {
        .section2__slideshow-dots {
          bottom: 3%; } }
      .section2__slideshow-dots--dot {
        cursor: pointer;
        height: 1.2rem;
        width: 1.2rem;
        margin: 0 .5rem;
        border-radius: 50%;
        border: 2px solid #fff;
        display: inline-block;
        transition: background-color 0.5s ease; }
        @media only screen and (max-width: 64em) {
          .section2__slideshow-dots--dot {
            height: 1rem;
            width: 1rem;
            margin: 0 .4rem; } }
        .section2__slideshow-dots--dot:hover, .section2__slideshow-dots--dot-active {
          background-color: #fff; }

.section3 {
  position: relative; }
  .section3__span-top--left {
    clip-path: polygon(0 0, 0 9%, 35% 0);
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 26.5625em) {
      .section3__span-top--left {
        clip-path: polygon(0 0, 0 6%, 35% 0); } }
  .section3__span-top--right {
    clip-path: polygon(100% 0, 35% 0, 100% 17%);
    background-color: #002140;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 26.5625em) {
      .section3__span-top--right {
        clip-path: polygon(100% 0, 35% 0, 100% 11%); } }
  .section3__span-bottom--left {
    clip-path: polygon(0 82%, 0% 100%, 65% 100%);
    background-color: rgba(2, 116, 134, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 26.5625em) {
      .section3__span-bottom--left {
        clip-path: polygon(0 90%, 0% 100%, 65% 100%); } }
  .section3__row {
    display: flex; }
    @media only screen and (max-width: 26.5625em) {
      .section3__row {
        display: block;
        height: auto; } }
    .section3__row-col--left {
      max-width: 50%; }
      @media only screen and (max-width: 26.5625em) {
        .section3__row-col--left {
          max-width: 100%;
          height: 30rem; } }
      .section3__row-col--left img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover; }
    .section3__row-col--right {
      max-width: 50%;
      padding: 15rem; }
      @media only screen and (max-width: 64em) {
        .section3__row-col--right {
          padding: 15rem 10rem; } }
      @media only screen and (max-width: 48em) {
        .section3__row-col--right {
          padding: 10rem 7rem; } }
      @media only screen and (max-width: 26.5625em) {
        .section3__row-col--right {
          max-width: 100%;
          padding: 5rem 5rem 8rem 5rem;
          text-align: center; } }
      .section3__row-col--right h1 {
        font-size: 3rem;
        padding-bottom: 2rem;
        font-weight: 500; }
        @media only screen and (max-width: 64em) {
          .section3__row-col--right h1 {
            font-size: 2.5rem; } }
        @media only screen and (max-width: 48em) {
          .section3__row-col--right h1 {
            font-size: 2.2rem; } }
        @media only screen and (max-width: 26.5625em) {
          .section3__row-col--right h1 {
            font-size: 2rem; } }
      .section3__row-col--right p {
        font-size: 1.7rem;
        line-height: 1.5; }
        @media only screen and (max-width: 64em) {
          .section3__row-col--right p {
            font-size: 1.3rem; } }

.section4 {
  position: relative; }
  .section4__span-top--right {
    clip-path: polygon(0 0, 100% 19%, 100% 0);
    background-color: #002140;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 26.5625em) {
      .section4__span-top--right {
        clip-path: polygon(0 0, 100% 10%, 100% 0); } }
  .section4__span-bottom--right {
    clip-path: polygon(100% 82%, 35% 100%, 100% 100%);
    background-color: rgba(0, 33, 64, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 26.5625em) {
      .section4__span-bottom--right {
        clip-path: polygon(100% 90%, 35% 100%, 100% 100%); } }
  .section4__row {
    display: flex; }
    @media only screen and (max-width: 26.5625em) {
      .section4__row {
        display: block;
        height: auto; } }
    .section4__row-col--left {
      max-width: 50%; }
      @media only screen and (max-width: 26.5625em) {
        .section4__row-col--left {
          max-width: 100%;
          height: 30rem; } }
      .section4__row-col--left img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover; }
    .section4__row-col--right {
      max-width: 50%;
      padding: 15rem; }
      @media only screen and (max-width: 64em) {
        .section4__row-col--right {
          padding: 15rem 10rem; } }
      @media only screen and (max-width: 48em) {
        .section4__row-col--right {
          padding: 10rem 7rem; } }
      @media only screen and (max-width: 26.5625em) {
        .section4__row-col--right {
          max-width: 100%;
          padding: 8rem 5rem 5rem 5rem;
          text-align: center; } }
      .section4__row-col--right h1 {
        font-size: 3rem;
        padding-bottom: 2rem;
        font-weight: 500; }
        @media only screen and (max-width: 64em) {
          .section4__row-col--right h1 {
            font-size: 2.5rem; } }
        @media only screen and (max-width: 48em) {
          .section4__row-col--right h1 {
            font-size: 2.2rem; } }
        @media only screen and (max-width: 26.5625em) {
          .section4__row-col--right h1 {
            font-size: 2rem; } }
      .section4__row-col--right p {
        font-size: 1.7rem;
        line-height: 1.5; }
        @media only screen and (max-width: 64em) {
          .section4__row-col--right p {
            font-size: 1.3rem; } }

.section5 {
  position: relative;
  background-color: #002140; }
  .section5__span-top--left {
    clip-path: polygon(0 0, 0 9%, 35% 0);
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 26.5625em) {
      .section5__span-top--left {
        clip-path: polygon(0 0, 0 4%, 35% 0); } }
  .section5__span-bottom--left {
    clip-path: polygon(0 83%, 0 100%, 100% 100%);
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 26.5625em) {
      .section5__span-bottom--left {
        clip-path: polygon(0 92%, 0% 100%, 100% 100%); } }
  .section5__wrapper {
    padding: 15rem;
    text-align: center; }
    @media only screen and (max-width: 64em) {
      .section5__wrapper {
        padding: 10rem; } }
    @media only screen and (max-width: 48em) {
      .section5__wrapper {
        padding: 8rem 5rem; } }
    @media only screen and (max-width: 26.5625em) {
      .section5__wrapper {
        padding: 8rem 0; } }
    .section5__wrapper h1 {
      color: #fff;
      font-size: 3rem; }
      @media only screen and (max-width: 64em) {
        .section5__wrapper h1 {
          font-size: 2.4rem; } }
      @media only screen and (max-width: 26.5625em) {
        .section5__wrapper h1 {
          font-size: 2rem; } }
    .section5__wrapper-partner {
      display: flex;
      justify-content: center;
      margin: 12rem 0; }
      @media only screen and (max-width: 26.5625em) {
        .section5__wrapper-partner {
          display: block;
          margin: 5rem 0; } }
      .section5__wrapper-partner--image {
        width: 15rem;
        height: 5rem;
        margin: 0 3rem; }
        @media only screen and (max-width: 48em) {
          .section5__wrapper-partner--image {
            margin: 0 2rem; } }
        @media only screen and (max-width: 26.5625em) {
          .section5__wrapper-partner--image {
            margin: 2rem auto; } }
        .section5__wrapper-partner--image img {
          width: 100%; }
        .section5__wrapper-partner--image-webhelp {
          margin-top: -2rem; }
          @media only screen and (max-width: 26.5625em) {
            .section5__wrapper-partner--image-webhelp {
              margin-top: 2rem;
              margin-bottom: 6rem; } }
      .section5__wrapper-partner i {
        font-size: 4rem;
        width: 4rem;
        height: 4rem;
        color: #fff;
        margin: 0 3rem; }
        @media only screen and (max-width: 48em) {
          .section5__wrapper-partner i {
            font-size: 3rem;
            width: 3rem;
            height: 3rem;
            margin: 0; } }
        @media only screen and (max-width: 26.5625em) {
          .section5__wrapper-partner i {
            transform: rotate(90deg);
            margin: 3rem 0; } }
    .section5__wrapper--collapsible input[type="checkbox"] {
      display: none; }
    .section5__wrapper--collapsible-lbl-toggle {
      font-size: 1.6rem;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      transition: all 0.25s ease-out; }
      @media only screen and (max-width: 64em) {
        .section5__wrapper--collapsible-lbl-toggle {
          font-size: 1.3rem; } }
      .section5__wrapper--collapsible-lbl-toggle::before {
        font-family: "Font Awesome 5 Free";
        content: "\f107";
        font-size: 2rem;
        margin-right: 2rem;
        color: #EA1E71; }
        @media only screen and (max-width: 64em) {
          .section5__wrapper--collapsible-lbl-toggle::before {
            font-size: 1.6rem; } }
    .section5__wrapper--collapsible-content {
      margin: 5rem 0;
      padding: 0 20rem;
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.25s ease-in-out; }
      @media only screen and (max-width: 64em) {
        .section5__wrapper--collapsible-content {
          padding: 0 10rem; } }
      @media only screen and (max-width: 48em) {
        .section5__wrapper--collapsible-content {
          padding: 0 6rem; } }
      @media only screen and (max-width: 23.4375em) {
        .section5__wrapper--collapsible-content {
          padding: 0 5rem; } }
      .section5__wrapper--collapsible-content__row {
        display: flex; }
        @media only screen and (max-width: 26.5625em) {
          .section5__wrapper--collapsible-content__row {
            display: block; } }
        .section5__wrapper--collapsible-content__row p {
          font-size: 1.6rem;
          color: #fff;
          width: 50%;
          text-align: left;
          margin-bottom: 2rem; }
          @media only screen and (max-width: 64em) {
            .section5__wrapper--collapsible-content__row p {
              font-size: 1.4rem; } }
          @media only screen and (max-width: 26.5625em) {
            .section5__wrapper--collapsible-content__row p {
              width: 100%; } }
          @media only screen and (max-width: 26.5625em) {
            .section5__wrapper--collapsible-content__row p:first-child {
              margin-bottom: 1rem; } }
          .section5__wrapper--collapsible-content__row p:last-child {
            margin-left: 15rem; }
            @media only screen and (max-width: 64em) {
              .section5__wrapper--collapsible-content__row p:last-child {
                margin-left: 6rem; } }
            @media only screen and (max-width: 26.5625em) {
              .section5__wrapper--collapsible-content__row p:last-child {
                margin-left: 0; } }
          .section5__wrapper--collapsible-content__row p span {
            color: #8195C9; }
          .section5__wrapper--collapsible-content__row p i {
            margin-right: 1rem; }
          @media only screen and (max-width: 26.5625em) {
            .section5__wrapper--collapsible-content__row p {
              font-size: 1.2rem; } }

.section5__wrapper--collapsible-toggle:checked + .section5__wrapper--collapsible-lbl-toggle + .section5__wrapper--collapsible-content {
  max-height: 50rem; }

.section5__wrapper--collapsible-toggle:checked + .section5__wrapper--collapsible-lbl-toggle::before {
  content: "\f106"; }

.hero {
  background-image: url("https://picsum.photos/id/579/1500/1000");
  height: 75rem;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 26.5625em) {
    .hero {
      height: 65rem; } }
  .hero__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #002140 0%, rgba(0, 33, 64, 0) 100%); }
  .hero__span-top {
    background-color: #EA1E71;
    clip-path: polygon(0 0, 0 30%, 50% 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 26.5625em) {
      .hero__span-top {
        clip-path: polygon(0 0, 0 20%, 70% 0); } }
  .hero__span-bottom {
    clip-path: polygon(50% 92%, 0 100%, 100% 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff; }
    @media only screen and (max-width: 26.5625em) {
      .hero__span-bottom {
        clip-path: polygon(50% 95%, 0 100%, 100% 100%); } }
  .hero__span-right {
    clip-path: polygon(50% 92%, 100% 100%, 100% 84%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(234, 30, 113, 0.8); }
    @media only screen and (max-width: 26.5625em) {
      .hero__span-right {
        clip-path: polygon(50% 95%, 100% 100%, 100% 90%); } }
  .hero__logo {
    position: absolute;
    top: 6rem;
    left: 6rem;
    width: 15rem; }
    @media only screen and (max-width: 64em) {
      .hero__logo {
        width: 12rem; } }
    @media only screen and (max-width: 48em) {
      .hero__logo {
        left: 3rem; } }
    @media only screen and (max-width: 26.5625em) {
      .hero__logo {
        top: 3rem; } }
    @media only screen and (max-width: 23.4375em) {
      .hero__logo {
        width: 10rem; } }
    @media only screen and (max-width: 20em) {
      .hero__logo {
        left: 2rem; } }
    .hero__logo img {
      width: 100%;
      overflow: hidden; }
  .hero__nav {
    position: absolute;
    top: 7rem;
    right: 6rem; }
    @media only screen and (max-width: 48em) {
      .hero__nav {
        right: 3rem; } }
    @media only screen and (max-width: 26.5625em) {
      .hero__nav {
        display: none; } }
    .hero__nav-list li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 5rem; }
      @media only screen and (max-width: 64em) {
        .hero__nav-list li {
          font-size: 1.2rem;
          margin-left: 3rem; } }
      @media only screen and (max-width: 48em) {
        .hero__nav-list li {
          font-size: 1.1rem;
          margin-left: 2rem; } }
      .hero__nav-list li:nth-child(5) {
        margin-left: 8rem;
        margin-right: -2rem; }
        @media only screen and (max-width: 64em) {
          .hero__nav-list li:nth-child(5) {
            margin-left: 5rem; } }
        @media only screen and (max-width: 48em) {
          .hero__nav-list li:nth-child(5) {
            margin-left: 4rem;
            margin-right: 0; } }
      .hero__nav-list li a {
        text-decoration: none;
        color: #fff; }
      .hero__nav-list li:last-child a {
        color: rgba(255, 255, 255, 0.5); }
    .hero__nav--mobile {
      position: relative;
      display: none; }
      @media only screen and (max-width: 26.5625em) {
        .hero__nav--mobile {
          display: block; } }
      .hero__nav--mobile input[type="checkbox"] {
        display: none; }
      .hero__nav--mobile-label {
        position: absolute;
        top: 4.5rem;
        right: 4rem;
        cursor: pointer;
        z-index: 101; }
        @media only screen and (max-width: 20em) {
          .hero__nav--mobile-label {
            right: 2.5rem; } }
        .hero__nav--mobile-label, .hero__nav--mobile-label::before, .hero__nav--mobile-label::after {
          width: 2rem;
          height: .2rem;
          background-color: #EA1E71;
          transition: all .4s ease; }
        .hero__nav--mobile-label::before, .hero__nav--mobile-label::after {
          content: '';
          position: absolute; }
        .hero__nav--mobile-label::before {
          bottom: .6rem; }
        .hero__nav--mobile-label::after {
          top: .6rem; }
      .hero__nav--mobile-content {
        color: #fff;
        padding: 3rem;
        background-color: #002140;
        display: none;
        height: 75rem;
        position: absolute;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100; }
        @media only screen and (max-width: 26.5625em) {
          .hero__nav--mobile-content {
            height: 65rem; } }
        .hero__nav--mobile-content__logo {
          width: 12rem;
          margin-bottom: 5rem; }
          @media only screen and (max-width: 23.4375em) {
            .hero__nav--mobile-content__logo {
              width: 10rem; } }
          @media only screen and (max-width: 20em) {
            .hero__nav--mobile-content__logo {
              margin-left: -1rem; } }
          .hero__nav--mobile-content__logo img {
            width: 100%; }
        .hero__nav--mobile-content__menu {
          padding: 3rem; }
          .hero__nav--mobile-content__menu-list {
            margin-bottom: 10rem; }
            .hero__nav--mobile-content__menu-list li {
              list-style: none;
              margin-bottom: 5rem; }
              .hero__nav--mobile-content__menu-list li a {
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: bold;
                transition: color .4s ease; }
          .hero__nav--mobile-content__menu-lang {
            display: flex;
            justify-content: center; }
            .hero__nav--mobile-content__menu-lang p {
              text-transform: uppercase;
              font-size: 1.7rem;
              font-weight: bold;
              padding: 0 2rem; }
              .hero__nav--mobile-content__menu-lang p:last-child {
                color: rgba(255, 255, 255, 0.5);
                border-left: 1px solid #fff; }
  .hero__info {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 60rem; }
    @media only screen and (max-width: 64em) {
      .hero__info {
        width: 50rem; } }
    @media only screen and (max-width: 26.5625em) {
      .hero__info {
        width: 35rem; } }
    @media only screen and (max-width: 23.4375em) {
      .hero__info {
        width: 30rem; } }
    @media only screen and (max-width: 20em) {
      .hero__info {
        width: 25rem; } }
    .hero__info h1 {
      font-size: 5.5rem;
      color: #fff;
      margin-bottom: 4rem; }
      @media only screen and (max-width: 64em) {
        .hero__info h1 {
          font-size: 4rem;
          margin-bottom: 3rem; } }
      @media only screen and (max-width: 26.5625em) {
        .hero__info h1 {
          font-size: 3rem; } }
      @media only screen and (max-width: 20em) {
        .hero__info h1 {
          font-size: 2.5rem; } }
    .hero__info a {
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      border-bottom: .3rem solid #fff; }
      @media only screen and (max-width: 64em) {
        .hero__info a {
          font-size: 1.1rem; } }

.hero__nav--mobile-toggle:checked + .hero__nav--mobile-label + .hero__nav--mobile-content {
  display: block; }

.hero__nav--mobile-toggle:checked + .hero__nav--mobile-label {
  background-color: transparent; }

.hero__nav--mobile-toggle:checked + .hero__nav--mobile-label::before {
  transform: rotate(45deg);
  top: 0;
  background-color: #fff; }

.hero__nav--mobile-toggle:checked + .hero__nav--mobile-label::after {
  transform: rotate(-45deg);
  top: 0;
  background-color: #fff; }

.contact__row {
  padding: 15rem;
  display: flex; }
  @media only screen and (max-width: 26.5625em) {
    .contact__row {
      display: block; } }
  @media only screen and (max-width: 64em) {
    .contact__row {
      padding: 12rem 10rem; } }
  @media only screen and (max-width: 48em) {
    .contact__row {
      padding: 10rem 8rem; } }
  @media only screen and (max-width: 26.5625em) {
    .contact__row {
      padding: 8rem 2rem; } }
  .contact__row-col--left {
    width: 40%;
    margin-right: 5rem; }
    @media only screen and (max-width: 26.5625em) {
      .contact__row-col--left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5rem; } }
    .contact__row-col--left h1 {
      font-size: 2.5rem;
      color: #002140; }
      @media only screen and (max-width: 48em) {
        .contact__row-col--left h1 {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 26.5625em) {
        .contact__row-col--left h1 {
          text-align: center; } }
    .contact__row-col--left-wrapper {
      display: flex;
      padding: 2.5rem 0; }
      @media only screen and (max-width: 26.5625em) {
        .contact__row-col--left-wrapper {
          justify-content: center; } }
      .contact__row-col--left-wrapper-avatar {
        text-align: center;
        padding: 2rem; }
        @media only screen and (max-width: 48em) {
          .contact__row-col--left-wrapper-avatar {
            padding: 1.5rem; } }
        .contact__row-col--left-wrapper-avatar-picture {
          margin-bottom: 1.5rem; }
          .contact__row-col--left-wrapper-avatar-picture img {
            width: 100%;
            overflow: hidden; }
        .contact__row-col--left-wrapper-avatar-name {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: .7rem; }
        .contact__row-col--left-wrapper-avatar-work {
          font-size: 1.2rem; }
    .contact__row-col--left-info {
      color: #002140;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: .8rem; }
      @media only screen and (max-width: 48em) {
        .contact__row-col--left-info {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 26.5625em) {
        .contact__row-col--left-info {
          text-align: center; } }
      .contact__row-col--left-info i {
        margin-right: 1rem; }
  .contact__row-col--right {
    width: 60%;
    padding-top: 2rem; }
    @media only screen and (max-width: 26.5625em) {
      .contact__row-col--right {
        width: 100%;
        text-align: center; } }
    .contact__row-col--right-form input {
      font-size: 2rem; }
    .contact__row-col--right-form input::placeholder {
      font-size: 1.3rem; }
    .contact__row-col--right-form input:focus {
      outline: none; }
    .contact__row-col--right-form-wrapper {
      display: flex;
      margin-bottom: 6rem; }
      .contact__row-col--right-form-wrapper-left {
        width: 50%; }
        .contact__row-col--right-form-wrapper-left-name {
          width: 90%;
          border: none;
          border-bottom: 1px solid #999;
          padding-bottom: 1.8rem;
          margin-bottom: 2rem; }
        .contact__row-col--right-form-wrapper-left-email {
          width: 90%;
          border: none; }
      .contact__row-col--right-form-wrapper-right {
        width: 50%;
        overflow: hidden; }
        .contact__row-col--right-form-wrapper-right-lastname {
          width: 90%;
          border: none;
          border-bottom: 1px solid #999;
          padding-bottom: 1.8rem;
          margin-bottom: 2rem; }
        .contact__row-col--right-form-wrapper-right-phone {
          border: none; }
          @media only screen and (max-width: 26.5625em) {
            .contact__row-col--right-form-wrapper-right-phone {
              margin-left: 1rem; } }
    .contact__row-col--right-form-company, .contact__row-col--right-form-message {
      width: 95%;
      margin-bottom: 8rem;
      border: none;
      border-bottom: 1px solid #999;
      padding-bottom: 1.8rem;
      margin-bottom: 2rem; }
    .contact__row-col--right-form-company {
      margin-bottom: 8rem; }
    .contact__row-col--right-form-message {
      margin-bottom: 5rem; }
    .contact__row-col--right-btn {
      background-color: #EA1E71;
      color: #fff;
      font-size: 1.3rem !important;
      font-weight: bold;
      text-transform: uppercase;
      padding: 1.4rem 2.4rem;
      border: none;
      cursor: pointer; }
      @media only screen and (max-width: 48em) {
        .contact__row-col--right-btn {
          font-size: 1rem !important;
          padding: 1rem 2rem; } }

.footer {
  position: relative;
  background-color: #002140;
  padding: 20rem 20rem 4rem 20rem; }
  @media only screen and (max-width: 64em) {
    .footer {
      padding: 20rem 15rem 2rem 15rem; } }
  @media only screen and (max-width: 48em) {
    .footer {
      padding: 20rem 10rem 2rem 10rem; } }
  @media only screen and (max-width: 26.5625em) {
    .footer {
      padding: 8rem 5rem 2rem 5rem; } }
  @media only screen and (max-width: 23.4375em) {
    .footer {
      padding: 8rem 3rem 2rem 3rem; } }
  .footer__span-top--left {
    clip-path: polygon(100% 0, 0 0, 0 30%);
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media only screen and (max-width: 26.5625em) {
      .footer__span-top--left {
        clip-path: polygon(100% 0, 0 0, 0 12%); } }
  .footer__row {
    display: flex;
    margin-bottom: 8rem; }
    .footer__row-col {
      width: 50%; }
      .footer__row-col--wrapper {
        display: flex; }
        @media only screen and (max-width: 26.5625em) {
          .footer__row-col--wrapper {
            display: block; } }
        .footer__row-col--wrapper-logo {
          width: 60%;
          padding: 0 4rem; }
          @media only screen and (max-width: 64em) {
            .footer__row-col--wrapper-logo {
              padding: 0 3rem 0 0; } }
          @media only screen and (max-width: 26.5625em) {
            .footer__row-col--wrapper-logo {
              width: 100%;
              text-align: center;
              padding: 2rem; } }
          .footer__row-col--wrapper-logo img {
            max-width: 100%; }
        .footer__row-col--wrapper-address {
          width: 40%; }
          @media only screen and (max-width: 64em) {
            .footer__row-col--wrapper-address {
              width: 50%; } }
          @media only screen and (max-width: 26.5625em) {
            .footer__row-col--wrapper-address {
              width: 100%;
              text-align: center; } }
          .footer__row-col--wrapper-address p {
            color: #fff;
            font-size: 1.4rem; }
            @media only screen and (max-width: 48em) {
              .footer__row-col--wrapper-address p {
                font-size: 1.2rem; } }
          .footer__row-col--wrapper-address p:first-child {
            font-weight: bold;
            margin-bottom: 2rem; }
          .footer__row-col--wrapper-address-logo {
            width: 2rem;
            margin-top: 2rem; }
      .footer__row-col--right {
        margin-left: 15rem; }
        @media only screen and (max-width: 48em) {
          .footer__row-col--right {
            margin-left: 10rem; } }
        @media only screen and (max-width: 26.5625em) {
          .footer__row-col--right {
            margin-top: -2rem;
            margin-left: 5rem; } }
        @media only screen and (max-width: 23.4375em) {
          .footer__row-col--right {
            margin-left: 3.4rem; } }
  .footer__copyright {
    text-align: center; }
    .footer__copyright-list li {
      display: inline-block;
      margin: 0 1rem;
      font-size: 1.3rem; }
      .footer__copyright-list li a {
        text-decoration: none;
        color: #888; }
