.footer {
  position: relative;
  background-color: $color-blue;
  padding: 20rem 20rem 4rem 20rem;

  @include respond(laptop) {
    padding: 20rem 15rem 2rem 15rem;
  }

  @include respond(tablet) {
    padding: 20rem 10rem 2rem 10rem;
  }

  &__span-top--left {
    clip-path: polygon(100% 0, 0 0, 0 30%);
    background-color: #fff;
    @include clip-full;
  }

  &__row {
    display: flex;
    margin-bottom: 8rem;

    &-col {
      width: 50%;

      &--wrapper {
        display: flex;

        &-logo {
          width: 60%;
          padding: 0 4rem;

          @include respond(laptop) {
            padding: 0 3rem 0 0;
          }

          & img {
            max-width: 100%;
          }

          &-webhelp {
            transform: scale(1.4);
            margin-top: -2rem;

            @include respond(laptop) {
              margin-top: -1rem;
            }
          }
        }

        &-address {
          width: 40%;

          @include respond(laptop) {
            width: 50%;
          }

          & p {
            color: #fff;
            font-size: 1.4rem;

            @include respond(tablet) {
              font-size: 1.2rem;
            }
          }

          & p:first-child {
            font-weight: bold;
            margin-bottom: 2rem;
          }

          &-logo {
            width: 2rem;
            margin-top: 2rem;
          }
        }
      }

      &--right {
        margin-left: 15rem;

        @include respond(tablet) {
          margin-left: 10rem;
        }
      }
    }
  }

  &__copyright {
    text-align: center;

    &-list {
      & li {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.3rem;

        @include respond(tablet) {
          margin-right: 3rem;
        }

        & a {
          text-decoration: none;
          color: #888;
        }
      }
    }
  }
}
