.hero {
  height: 75rem;
  position: relative;

  @include respond(mobile-lg) {
    height: 65rem;
  }

  &__background {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__gradient {
    @include clip-full;
    background: linear-gradient(90deg, rgba(0,33,64,1) 0%, rgba(0,33,64,0) 100%);
  }

  &__span-top {
    background-color: $color-pink;
    clip-path: polygon(0 0, 0 30%, 50% 0);
    @include clip-full;

    @include respond(mobile-lg) {
      clip-path: polygon(0 0, 0 20%, 70% 0);
    }
  }

  &__span-bottom {
    clip-path: polygon(50% 92%, 0 100%, 100% 100%);
    @include clip-full;
    background-color: #fff;

    @include respond(mobile-lg) {
      clip-path: polygon(50% 95%, 0 100%, 100% 100%);
    }
  }

  &__span-right {
    clip-path: polygon(50% 92%, 100% 100%, 100% 84%);
    @include clip-full;
    background-color: rgba($color-pink, 0.8);

    @include respond(mobile-lg) {
      clip-path: polygon(50% 95%, 100% 100%, 100% 90%);
    }
  }

  &__logo  {
    position: absolute;
    top: 6rem;
    left: 6rem;
    width: 15rem;

    @include respond(laptop) {
      width: 12rem;
    }

    @include respond(tablet) {
      left: 3rem;
    }

    @include respond(mobile-lg) {
      top: 3rem;
    }

    @include respond(mobile-md) {
      width: 10rem;
    }

    @include respond(mobile-sm) {
      left: 2rem;
    }

    & img {
      width: 100%;
      overflow: hidden;
    }
  }

  &__nav {
    position: absolute;
    top: 7rem;
    right: 6rem;

    @include respond(tablet) {
      right: 3rem;
    }

    @include respond(mobile-lg) {
      display: none;
    }

    &-list{

      & li {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 5rem;

        @include respond(laptop) {
          font-size: 1.2rem;
          margin-left: 3rem;
        }

        @include respond(tablet) {
          font-size: 1.1rem;
          margin-left: 2rem;
        }

        &:nth-child(5) {
          margin-left: 8rem;
          margin-right: -2rem;

          @include respond(laptop) {
            margin-left: 5rem;
          }

          @include respond(tablet) {
            margin-left: 4rem;
            margin-right: 0;
          }
        }

        & a{
          text-decoration: none;
          color: #fff;
        }

        &:last-child a{
          color: rgba(#fff, 0.5);
        }
      }
    }

    &--mobile {
      //position: relative;
      display: none;

      @include respond(mobile-lg) {
        display: block;
      }

      input[type="checkbox"] {
        display: none;
      }

      &-label {
        position: absolute;
        top: 4.5rem;
        right: 4rem;
        cursor: pointer;
        z-index: 101;

        @include respond(mobile-sm) {
          right: 2.5rem;
        }

        &,
        &::before,
        &::after {
          width: 2rem;
          height: .2rem;
          background-color: $color-pink;
          transition: all .4s ease;
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
        }

        &::before {
          bottom: .6rem;
        }

        &::after {
          top: .6rem;
        }
      }

      &-content {
        color: #fff;
        padding: 3rem;
        background-color: $color-blue;
        display: none;
        height: 75rem;
        position: absolute;
        @include clip-full;
        z-index: 100;

        @include respond(mobile-lg) {
          height: 65rem;
        }

        &__logo {
          width: 12rem;
          margin-bottom: 5rem;

          @include respond(mobile-md) {
            width: 10rem;
          }

          @include respond(mobile-sm) {
            margin-left: -1rem;
          }

          & img {
            width: 100%;
          }
        }

        &__menu {
          padding: 3rem;

           &-list {
             margin-bottom: 10rem;
            & li {
              list-style: none;
              margin-bottom: 5rem;

              & a {
               text-decoration: none;
               color: #fff;
               text-transform: uppercase;
               font-size: 2rem;
               font-weight: bold;
               transition: color .4s ease;
              }
            }
          }

          &-lang {
           display: flex;
           justify-content: center;

            & p {
              text-transform: uppercase;
              font-size: 1.7rem;
              font-weight: bold;
              padding: 0 2rem;

              &:last-child {
                color: rgba(#fff, .5);
                border-left: 1px solid #fff;
              }
            }
          }
        }
      }
    }
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 60rem;

    @include respond(laptop) {
      width: 50rem;
    }

    @include respond(mobile-lg) {
      width: 35rem;
    }

    @include respond(mobile-md) {
      width: 30rem;
    }

    @include respond(mobile-sm) {
      width: 25rem;
    }


    & h1 {
      font-size: 5.5rem;
      color: #fff;
      margin-bottom: 4rem;

      @include respond(laptop) {
        font-size: 4rem;
        margin-bottom: 3rem;
      }

      @include respond(mobile-lg) {
        font-size: 3rem;
      }

      @include respond(mobile-sm) {
        font-size: 2.5rem;
      }
    }

    & a {
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      border-bottom: .3rem solid #fff;

      @include respond(laptop) {
        font-size: 1.1rem;
      }
    }
  }
}

.hero__nav--mobile-toggle:checked + .hero__nav--mobile-label + .hero__nav--mobile-content{
  display: block;
}

.hero__nav--mobile-toggle:checked + .hero__nav--mobile-label{
  background-color: transparent;
}

.hero__nav--mobile-toggle:checked + .hero__nav--mobile-label::before {
  transform: rotate(45deg);
  top: 0;
  background-color: #fff;
}

.hero__nav--mobile-toggle:checked + .hero__nav--mobile-label::after {
  transform: rotate(-45deg);
  top: 0;
  background-color: #fff;
}
