.section2 {
  //background-image: url('https://picsum.photos/id/6/1500/700');
  height: 55rem;
  position: relative;

  &__span-top--right {
    clip-path: polygon(100% 0, 100% 20%, 0 0);
    background-color: #fff;
    @include clip-full;

    @include respond(mobile-lg) {
      clip-path: polygon(100% 0, 100% 14%, 0 0);
    }
  }
  &__span-top--left {
    clip-path: polygon(0 0, 0 20%, 50% 10%);
    background-color: $color-cyan;
    @include clip-full;

    @include respond(mobile-lg) {
      clip-path: polygon(0 0, 0 14%, 50% 7%);
    }
  }
  &__span-bottom--right {
    clip-path: polygon(100% 80%, 100% 100%, 35% 100%);
    background-color: rgba($color-blue, 0.8);
    @include clip-full;

    @include respond(mobile-lg) {
      clip-path: polygon(100% 86%, 100% 100%, 35% 100%);
    }
  }
  &__span-bottom--left{
    clip-path: polygon(0 89%, 0 100%, 35% 100%);
    background-color: #fff;
    @include clip-full;

    @include respond(mobile-lg) {
      clip-path: polygon(0 92%, 0 100%, 35% 100%);
    }
  }


  &__slideshow {
    height: 100%;

    &-slide {
      height: 100%;
      display: none;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-dots {
      position: absolute;
      right: 3%;
      bottom: 7%;

      @include respond(mobile-lg) {
        bottom: 3%;
      }

      &--dot {
        cursor: pointer;
        height: 1.2rem;
        width: 1.2rem;
        margin: 0 .5rem;
        border-radius: 50%;
        border: 2px solid #fff;
        display: inline-block;
        transition: background-color 0.5s ease;

        @include respond(mobile-lg) {
          height: 1rem;
          width: 1rem;
          margin: 0 .4rem;
        }

        &:hover,
        &-active{
          background-color: #fff;
        }
      }
    }
  }
}
